/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    width: 100%;
}

h1{
    font-size: 3rem;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
}

h2{
    font-size: 2rem;
    color: #fff;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3{
    font-size: 1.6rem;
    color: #fff;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h4{
    font-size: 1.4rem;
}

p{
    color: #fff;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
}

a{
    font-family: helvetica;
    font-weight: 700;
}

button{
    font-family: helvetica;
    font-weight: 700;
    background-color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}

.container{
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

/* HEADER */
header{
    background-color: #232323;
}

.logo{
    text-align: center;
}

.logo img{
    width: 300px;
}

.green{
    font-size: 1.4rem;
    color: #06cf9c;
    display: inline;
}

.blue{
    font-size: 1.4rem;
    color: #13A7E8;
    display: inline;
}

nav ul li{
    background-color: #13A7E8;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li:hover{
    background-color:#2975a8;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

.logo-text{
    margin-bottom: 20px;
}

.banner{
    position: relative;
}

.banner h2{
    background-color: #13A7E8;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 5px;
}

.banner p{
    background-color: #13A7E8;
    color: #fff;
    position: absolute;
    top: calc(10% + 50px);
    left: 10%;
    padding: 5px;
}

.welcome{
    padding: 20px;
    background-color: #06cf9c;
    margin-bottom: 50px;
}

.button-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
}

.button-grid a{
    transition: all 0.3s;
}

.button-grid a:hover{
    color: #fff;
    background-color: #232323;
}

.more{
    font-family: helvetica;
    font-weight: 700;
    color: black;
    background-color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    grid-column: 3;
    text-decoration: none;
    justify-self: center;
}

.services div{
    padding: 20px;
    margin-bottom: 20px;
}

.coding{
    background-color: #13A7E8;
}

.digital-design{
    background-color: #1196cf;
}

.photography{
    background-color: #0d7aa8;
}

/* FOOTER */

footer{
    background-color: #232323;
    text-align: center;
    padding: 10px;
}

.copyright{
    margin-bottom: 20px;
}

.phone-number{
    margin-bottom: 20px;
}

.social-media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 400px;
    margin: 0 auto;
    justify-items: center;
}

.social-media img{
    width: 40px;
}


/***************
    About
***************/

.education{
    padding: 20px;
    background-color: #06cf9c;
    margin-bottom: 50px;
}

.soft-skills{
    padding: 20px;
    background-color: #13a7e8;
    margin-bottom: 50px;
}

.soft-skills ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.soft-skills ul li,
.hard-skills ul li{
    color: #fff;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

.hard-skills{
    padding: 20px;
    background-color: #0d7aa8;
    margin-bottom: 50px;
}

.hard-skills ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    text-align: center;
}

.why-choose-me{
    padding: 20px;
    background-color: #06cf9c;
    margin-bottom: 50px;
}

.portfolio-button{
    font-family: helvetica;
    font-weight: 700;
    color: black;
    background-color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    grid-column: 3;
    text-decoration: none;
    justify-self: center;
    text-align: center;
}

/* Contact Field */

.contact-me{
    padding: 20px;
    background-color: #1196cf;
}

.contact-me div{
    margin: 20px 0;
}

input:focus,
textarea:focus{
	outline-color: #06cf9c;
	border-radius: 20px;
}

textarea, input{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
	display: block;
	width: 95%;
	padding: 5px;
	font-size: 1.1rem;
	border: 1px solid #444;
	margin: 5px;
	transition: border-radius 0.3s;
}

textarea{
	resize: none;
	height: 100px;
}

.my-information p{
    text-align: center;
}

button{
    grid-column: 3;
}

/****************
    PORTFOLIO
****************/

.coding-section h2{
    background-color: #13a7e8;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.bakery-bonanza{
    background-color: #1196cf;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.digital-design-section{
    margin-bottom: 50px;
}

.digital-design-section img{
    margin-bottom: 5px;
}

.digital-design-section h2{
    background-color: #13a7e8;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.photography-section img{
    margin-bottom: 5px;
}

/**********************
    TABLET VIEW
**********************/

@media screen and (min-width: 700px){

    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }


    /* Header */
    nav ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .logo{
        display: grid;
        grid-template-columns: 100px 120px;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }
    
    .logo-text{
        margin-bottom: 0;
    }

    .logo img{
        width: 75px;
    }

    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }


    /* Footer */
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .contact-footer{
        display: grid;
        grid-template-columns: 80px 160px;
        grid-template-rows: 1fr;
        grid-column: 1;
        grid-row: 1;
    }

    .contact-footer p{
        align-self: center;
    }

    footer p{
        font-size: 16px;
    }

    .copyright{
        grid-column: 2;
        grid-row: 1;
    }

    .social-media{
        grid-template-columns: repeat(3, 75px);
        grid-column: 3;
        grid-row: 1;
    }

    .copyright{
        margin-bottom: 0;
    }
    
    .phone-number{
        margin-bottom: 0;
    }

    /* Home */
    
    .banner p{
        top: calc(10% + 75px);
    }

    .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.5fr;
        grid-gap: 20px;
    }
    .coding{
        grid-column: 1 /span 2;
    }

    /* About */
    .about-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.6fr 0.5fr 0.5fr 1fr;
        grid-gap: 20px;
    }

    .soft-skills ul li,
    .hard-skills ul li{
        font-size: 20px;
    }

    .education{
        grid-column: 1 /span 2;
    }

    .why-choose-me{
        grid-column: 1 /span 2;
    }

    .contact-me{
        grid-column: 1 /span 2;
    }

    /* Portfolio */
    .illustrator{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .armor{
        grid-column: 1 /span 2;
    }

    .photoshop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .portrait{
        grid-column: 1 /span 2;
    }
}

/********************
    DESKTOP VIEW
*********************/

@media screen and (min-width: 1100px){

    h2{
        font-size: 50px;
    }

    p{
        font-size: 24px;
    }

    /* Home */
    .services{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .coding{
        grid-column: 1;
    }

    /* About */
    .contact-me{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    /* Portfolio */
    .bakery-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .bakery-text{
        align-self: center;
    }

    .bakery-bonanza{
        margin-bottom: 0;
    }

    .coding-section h2{
        margin-top: 0;
    }

    .dd-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .portrait{
        grid-column: 1
    }
}