/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* New Font Sizes */

/* for h1 I used the vw measurement so the header text would resize with the page
and i used a new custom font family from the adobe fonts with its suggested name, weight, and style */
h1{
	font-size: 10vw;
	font-family: tilda-petite, sans-serif;
	font-weight: 400;
	font-style: normal;
    color: whitesmoke;
}

/* for h2 I used the rem measurement instead of vw so that the text would not resize with the page,
gave it the font family "voltage" from adobe fonts,
and gave it 20px margin on top and bottom to make the page less crowded */
h2{
	font-size: 2rem;
	font-family: voltage, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 20px 0;
}

/* for h3 I once again used rem but decreased the value as I wanted it to be less large than h2,
I used the forma-djr-display font from adobe fonts,
made font-weight as 700 to give it a bolder look,
and gave the bottom margin 10px of space to space out content from text */
h3{
	font-size: 1.4rem;
	font-family: forma-djr-display, sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 10px;
}

/* for p I used a smaller font-size than all headings for text hierarchy,
gave it the same font family as h3 but changed the font-weight to 400 for a regular look,
gave it a normal style as adobe fonts suggested,
and increased the line height by 25px for an easier reading experience */
p{
	font-size: 1.1rem;
	font-family: forma-djr-display, sans-serif;
	font-weight: 400;
	font-style: normal;
    line-height: 25px;
}

/* for a (navigation) I chose to use the same style from h3 and kept the same elements */
a{
	font-family: forma-djr-display, sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* changed the body color to more of a off-white for a better look */
body{
    background-color: whitesmoke;
}

/* used the container around everything besides the header and footer to shrink the content
so that it would not be touching the sides of the screen.
I limited the max width to restrict the content from resizing to a size that may be considered
too large and used margin: 0 auto to center the content.
I also gave it padding to make sure the images and text was not touching the edges
of the screen */
.container{
	max-width: 65rem;
	margin: 0 auto;
	padding: 20px;
}

/* SITE HEADER */

/* changed the section with the class .banner to a grid to begin placing the title text over the image */
.banner{
	display: grid;
    grid-template-rows: 1fr 1fr;
}
  
/* placed the image in the first to the second column and in the first to the third row to cover the grid,
used width: 100% to have the image resize with the page */
.banner img{
	grid-column: 1/2;
	grid-row: 1/3;
    width: 100%;
}

/* targetted the banner header and used grid-column: 1/2 to have the text span both columns,
used grid-row: 2/3 to center the text in the grid,
used z-index to bring the text forward and above the img on the z axis,
and aligned the text in center for balance in the header */
.banner h1{
	grid-column: 1/2;
	grid-row: 2/3;
	z-index: 1;
	text-align: center;
}

/* NAV */

/* centered the text for the list for balance on the page */
.site-header ul li{
	text-align: center;
}

/* used display: block instead of inline to have each link take up its own space,
took away the underline text-decoration for stylistic choice,
added padding to a more "full" look to the nav bar,
and included a transition as all for an animation during a hover that lasts only 0.3 seconds */
.site-header li a{
	display: block;
	color: whitesmoke;
	text-decoration: none;
	padding: 15px;
	transition: all 0.3s;
}

/* increased the font size for the a element to let people know they're hovering over the link
and adding "life" to the page with this transition */
.site-header li a:hover{
	font-size: 1.5rem;
}

/* changed the colors of the links INDIVIDUALLY by targeting their personal href
for a more fun look to the page */
a[href="index.html"]{
    background-color: #4f2404;
}

a[href="about.html"]{
    background-color: #5c2a05;
}

a[href="contact.html"]{
    background-color: #361903;
}

/* targeted all images and set their width as 100% so they would resize with the page
and eliminate the possibility of having to scroll horizontally */
img{
    width: 100%;
}

/************
	HOME
************/

/* BODY CONTENT */

/* used margin-bottom: 60px to visually separate the "welcome" section from the offers below
for less confusion and cluster on the page */
.welcome{
	margin-bottom: 60px;
}

/* targeted the paragraph text in the welcome section while adding margin bottom to
give breathing room between the line of text and the image below */
.welcome p{
    margin-bottom: 10px;
}

/* applied margin on the top and bottom of the food sections for cleaner spacing on the page,
aligned the text in the middle of the box for balance,
used a grey background color for each section,
gave the sections padding around the text and image for a better look,
and used a box shadow to make it pop out while using a less harsh shadow
with the 10px */
.food{
    margin: 20px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-shadow: 5px 5px 10px;
}

/* Footer */

/* used the font family from adobe fonts (same as h3 and a),
chanegd the font weight to look bolder,
kept the font style the same (as adobe fonts suggested),
gave the footer padding for a thicker look,
and centered the copyright text while giving it a white on black style */
footer{
	font-family: forma-djr-display, sans-serif;
	font-weight: 700;
	font-style: normal;
    padding: 20px;
    background-color: black;
    color: whitesmoke;
	text-align: center;
}


/******************
	ABOUT US
*******************/

/* created a grid system with one column that would later change in different viewports,
added a 20px grid gap to space out the content,
and centered the names of the team members with text-align: center */
.team{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	text-align: center;
}

/* used border-radius: 50% to round out the portrait photo,
made the width: 80% to have it resize but not at its largest width,
and added margin on the bottom to separate the .worker images from the text */
.worker{
	border-radius: 50%;
	width: 80%;
	margin-bottom: 5px;
}

/* indented the paragraph for proper text format on the site,
and added margin bottom to push the team section away from the our-story section */
.our-story{
	text-indent: 30px;
	margin-bottom: 60px;
}

/******************
	CONTACT
******************/

/* used margin bottom to push down the schedule section from the google map */
.location{
	margin-bottom: 60px;
}

/* used text-align: center to center the address below the map */
.location p{
	text-align: center;
}

/* Schedule Table */

/* used margin bottom to push down the form from the schedule section */
.schedule{
	margin-bottom: 60px;
}

/* changed the font family to the custom adobe font (same as p),
kept the font weight as 400 for non-bold text,
included the font style as normal to keep it the same as the others on the page,
used margin: 20px auto to add space above and below the table while centering the table on the page,
used overflow: hidden to allow for rounded corners with border-radius: 20px,
added a box shadow for emphasis on the table,
used width: 100% so it would resize accordingly,
used max-width: 400px to limit the table so it would not grow too large,
and aligned the day and hour content in the center for balance */
table{
	font-family: forma-djr-display, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 5px 5px 10px;
	width: 100%;
	max-width: 400px;
	text-align: center;
}

/* changed the font weight for the head of the table to a bolder look for 
hierarchy purposes */
thead{
	font-weight: 700;
	background-color: #d3d3d3;
}

/* gave the table slight padding on the top and bottom while
using more padding on the sides for a more full look */
th, td{
	padding: 10px 40px;
}

/* targeted even children of tr to colour every other row differently and same with the odd as seen below */
tbody tr:nth-child(even){
	background-color: #d3d3d3;
}

tbody tr:nth-child(odd){
	background-color: #999;
}

/* Form */

/* gave the form wrap the same font family as the paragraph text,
made the background of the form white,
added a box shadow to match the table,
gave the form padding to look thicker,
rounded the corners with border-radius: 20px to match the table,
used width:80% to have the form resize but at a smaller size,
and used margin: 0 auto to center the form */
.form-wrap{
	font-family: forma-djr-display, sans-serif;
	background-color: #fff;
	box-shadow: 5px 5px 10px;
	padding: 20px 10px;
	border-radius: 20px;
	width: 80%;
	margin: 0 auto;
}

/* changed the focus color for the border so customers would know which field they were on,
and used border-radius: 20px to round the fields for a transition from sharp corners */
input:focus,
textarea:focus{
	border-color: #5c2a05;
	outline-color: #5c2a05;
	border-radius: 20px;
}

/* set the display for the input fields and text areas to block for a list look,
used width: 95% to have the fields resize at a slightly smaller size for a better look,
gave the areas padding for more space,
increased the font size to 1rem for easier reading,
gave the areas grey border,
used margin to space out the text from the fields in the form,
and included a transition for the border radius to change from sharp corners to rounded once highlighted */
textarea, input{
	display: block;
	width: 95%;
	padding: 5px;
	font-size: 1rem;
	border: 1px solid #444;
	margin: 5px;
	transition: border-radius 0.3s;
}

/* targeted the forms div to give space above and below for each field */
.form-wrap div{	
	margin: 15px 0;
}

/* restricted the textarea box to a smaller look with height and made sure
that it was impossible to move or resize the text box with resize: none */
textarea{
	resize: none;
	height: 100px;
}

/* changed the button text to match the h3 look with its font-family/weight/style,
used a red-ish color to grab the attention of customers,
gave the button more padding for a larger look,
took away its border,
and added a transition for the border and border radius for a hover animation */
button{
	font-family: forma-djr-display, sans-serif;
	font-weight: 700;
	font-style: normal;
	background-color: lightcoral;
	padding: 10px 20px;
	border: none;
	transition: border 0.3s, border-radius 0.3s;
}

/* transitioned a border to appear on hover for the button
and the border will change from sharp corners to rounded upon hovering */
button:hover{
	border: 2px solid black;
	border-radius: 20px;
}

/* used @media screen to separate tablet from mobile */
@media screen and (min-width: 700px){
	/****************
		ALL PAGES
	*****************/

	/* increased the general font sizes for each type of text found on all pages
	and increased the line height to 30px for paragraph text for an easier reading experience */
	h2{
		font-size: 2.2rem;
	}
	h3{
		font-size: 1.6rem;
	}
	p{
		font-size: 1.2rem;
		line-height: 30px;
	}
	footer{
		font-size: 1.2rem;
	}

	/* changed the navigation bar to one line instead of 3 on top of each other
	for more vertical space */
	.main-nav ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	/***************
		HOME
	***************/

	/* created two columns so that the tablet view would have a more fitting
	look for the food sections */
	.content{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	/***************
		ABOUT US
	****************/

	/* changed the grid so that the team members would be 2 and 2 instead
	of one column of 4 so tablets would have an easier viewing experience */
	.team{
		grid-template-columns: 1fr 1fr;
	}

	/***************
		CONTACT
	***************/

	/* added a grid for the contact sections to reorganize the google map on top,
	with both the table and form directly below it while being side by side
	and used grid gap to better space out the sections */
	.contact-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 10px;
	}

	/* gave the table more padding as the tablet view offered more space */
	th, td{
		padding: 30px 40px;
	}

	/* made the google map take up both columns in the first row for a larger look */
	.location{
		grid-column: 1 /span 2;
	}

	/* reset the margin-bottom to 0 so it would not interfere with centering
	the schedule table in the middle of its grid section */
	.schedule{
		margin-bottom: 0;
		align-self: center;
	}

	/* added padding as the tablet view allowed for a larger look for elements with
	more screen space */
	.form-wrap{
		padding: 40px;
	}
}

/* used @media screen to separate desktop from tablet */
@media screen and (min-width: 1200px){
	/****************
		ALL PAGES
	****************/

	/* changed h2 and h3 to larger sizes for better viewing */
	h2{
		font-size: 2.4rem;
	}
	h3{
		font-size: 1.8rem;
	}
	footer{
		font-size: 1.4rem;
	}

	/***********
		HOME
	***********/

	/* changed the grid system for the food sections to 3 columns for
	a cleaner look on the desktop */
	.content{
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/********************
	TITLE ANIMATION
*********************/

/* created an animation for the title that would quickly grab the attention
of a customer with playful bouncing text by using the scale under transform */
@keyframes title{
	0%{
		transform: scale(0.7);
	}
	50%{
		transform: scale(1.2);
	}
	70%{
		transform: scale(0.8);
	}
	90%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}

/* gave the animation above to h1 with a fast duration of 0.8 seconds
and made the animation bounce in and out with the "ease-in-out" function */
h1{
	animation-name: title;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
}